.about-section {
  padding-top: 150px;
  background-image: linear-gradient(
    to bottom,
    rgb(45, 45, 88),
    rgba(0, 0, 0, 1)
  );
  /* background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(35, 35, 35, 1.5)); */
}

/*----------------Progress Bar------------------*/

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 4px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.progress-value.in-view {
  animation: load 2.5s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  background: #007bff;
  border-radius: 100px;
  height: 4px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

/*---------------Bio----------------------*/

#heading {
  text-align: center;
  color: white;
}
#workheading {
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 2px solid currentColor;
  border-color: #007bff;
  width: 110%;
}
#bio1 {
  color: white;
}
.fas,
.fab {
  color: white;
  transition: 0.5s;
}
.fas:hover {
  color: #007bff;
  transition: 0.5s;
  font-size: 5.5em;
}
.fab:hover {
  color: #007bff;
  transition: 0.5s;
  font-size: 5.5em;
}
#faspan {
  padding-bottom: 10px;
}
#eachbio {
  margin-top: 50px;
}
p.biodetail {
  margin-top: 5px;
  margin-bottom: 0px;
}
.underline {
  border-bottom: 1px solid currentColor;
}
#eachbio {
  text-align: center;
  min-height: 180px;
}

/*----------------Responsive Design below-----------------*/

@media screen and (max-width: 992px) {
  /*---------------Bio-------------------*/

  #heading {
    width: 60%;
  }
  .progress {
    width: 300px;
  }
}

@media screen and (max-width: 432px) {
  #heading {
    padding-top: 70px;
  }
  .about-section {
    padding-top: 30px;
  }
}
