body{
	background-color: black;
}
#aoscont{
	overflow-x: hidden;
}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.aos-all {
	max-width: 100% !important;
	width: 100% !important;
	width: 100vw !important;
	overflow: hidden;
	margin: 0;
}
.contact-section{
	padding-top: 50px;
	/* background-color: #292929; */
	background-image: linear-gradient(
    to bottom,
    rgba(35, 35, 35, 1.5),
    rgba(0, 0, 0, 1)
  );
  padding-bottom: 30px;
}
#contact-heading{
	border-bottom: 2px solid currentColor;
	border-color: rgb(60, 184, 121);
}


/*----------------Feed typewriter----------------*/

#greetcont{
	font-family: 'tradegothiclt-bold', sans-serif;
 	padding-top: 130px;
 	text-align: center;
  	color: white;
}
#spanid {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


/*---------------Cont typewriter---------------*/

#contcont{
	font-family: 'tradegothiclt-bold', sans-serif;
 	padding-top: 70px;
 	text-align: center;
 	font-size: 2em;
  	color: white;
}
#spanid {
  border-right: .05em solid;
  animation: caret2 1s steps(1) infinite;
}

@keyframes caret2 {
  50% {
    border-color: transparent;
  }
}

/*--------------Horizontal line----------------*/

#conthr {
    margin: 0 auto;
    margin-top: 80px;
    width: 350px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #292929, rgba(255, 255, 255, 0.9), #292929);
}

/*---------------Contact-----------------*/

#conthead{
	padding-top: 30px;
	text-align: center;
}
#contform{
	margin-top: 45px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
#name, #phone, #email, #messagearea{
	background-color: #3a3a3a;
	border: None;
	padding: 30px;
	border-radius: 50px;
	outline: none;
}
#name{
	margin-right: 5px;
}
#name:hover, #phone:hover, #email:hover, #messagearea:hover, #textarea:hover, #feedname:hover{
	box-shadow: 5px 7px 15px #2e2e2e;
}
#phone{
	margin-left: 5px;
}
#name, #phone{
	height: 60px;
	margin-bottom: 20px;
	padding-inline: 45px;
}
#email{
	height: 60px;
	margin-bottom: 20px;
}
#submitbtn{
	margin-top: 20px;
	padding: 15px;
	width: 150px;
	border-radius: 50px;
}

/*----------------Feedback-----------------*/

#textarea{
	background-color: #3a3a3a;
	border-radius: 50px;
	border: None;
	padding: 30px;
	outline: none;
}
#feeddiv{
	padding-top: 30px;
	display: flex;
	justify-content: center;
}
#feedform{
	padding-top: 45px;
	display: flex;
	justify-content: center;
}
#feedname{
	margin-right: 70px;
	height: 60px;
	padding: 30px;
	background-color: #3a3a3a;
	border-radius: 50px;
	border: None;
	outline: none;
}
#feedbtn{
	padding: 15px;
	width: 150px;
	border-radius: 50px;
}


/*-----------------Footer------------------*/


hr{
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, #292929, rgba(255, 255, 255), #292929);
}
footer{
	color: white;
	padding-top: 30px;
}
#addhead{
	text-align: center;
}
address{
	text-align: center;
}
#follow{
	text-align: center;
}
#social{
	padding: 10px;
}
#copyright{
	padding-top: 10px;
	font-family: OpenSans, Arial, sans-serif;
}


/*----------------Responsive Design below-----------------*/


@media screen and (max-width: 992px){

/*------------------Footer--------------------*/

	#follow{
		padding-top: 15px;
	}
	#socialdiv{
		padding-bottom: 10px;
	}
	#copyright{
		padding-bottom: 20px;
	}
}


@media screen and (max-width: 432px){
	#greetcont, #contcont{
		font-size: 25px;
	}
	#greetcont{
		padding-top: 70px;
	}
	#feedform{
		padding-top: 0px;
		margin: 0px;
	}
	#textarea{
		margin-inline: 20px;
	}
	#feedname{
		padding: 15px;
		padding-left: 20px;
		height: 50px;
		margin-right: 10px;
		margin-left: 10px;
	}
	#feedbtn{
		margin-left: 15px;
		margin-right: 10px;
		height: 50px;
	}
	#conthr{
		width: 60%;
	}
	#name, #phone, #email{
		padding: 15px;
		padding-left: 20px;
		height: 50px;
	}
	#name, #phone{
		width: 160px;
	}
	#email{
		width: 345px;
	}
	#messagearea{
		max-width: 340px;
		padding: 20px;
	}
}