@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

#aoscont {
  overflow-x: hidden;
  padding-bottom: 10px;
}
#mypage {
  /* background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(35, 35, 35, 1.5)); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgb(45, 45, 88)
  );
}
/*---------------Navigation Bar------------------*/

ul {
  float: right;
  min-width: 60%;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 15px;
  z-index: 0;
}
label.logo {
  font-size: 250%;
  font-style: italic;
  font-weight: bold;
  color: white;
  margin: auto;
  padding-left: 30px;
  padding-bottom: 4px;
}
nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding-bottom: 5px;
}
a {
  cursor: pointer;
  color: #ffffff;
  transition: font-size 0.2s;
}
.checkbtn {
  color: white;
  float: right;
  padding-top: 7px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  z-index: 1;
}
#check {
  display: none;
}
li {
  list-style: none;
  float: right;
  min-height: 40px;
}
a#nav-home:hover,
a#nav-about:hover,
a#nav-gallery:hover,
a#nav-project:hover,
a#nav-contact:hover {
  color: #007bff;
}
a:hover {
  text-decoration: none;
  color: #007bff;
  transition: 0.4s;
}

.btn:hover {
  background-color: white;
  transition: 0.1s;
  color: black;
}

/*-----------------Divs------------------*/

#myimg {
  transition: all 0.4s;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
#myimg:hover {
  transition: all 0.4s;
  width: 315px;
  height: 315px;
}
#div1 {
  padding-top: 200px;
}
h1 {
  font-size: 39px;
  font-family: Droid Serif, sans-serif;
}
.ml10 .letter {
  display: inline-block;
  transform-origin: 0 0;
}
h2 {
  font-size: 28px;
}
#para2 {
  animation: fadeInUp 2s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 25px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
#div2 {
  padding-top: 50px;
}
#downloadbtn {
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 15px;
  padding-inline: 30px;
  transition: all 0.3s ease-in-out;
}
#downloadbtn:hover {
  background-color: rgb(59, 59, 108);
  color: white;
}

/*---------------About Me-----------------*/

.collapsible {
  background-color: #777;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.3s ease;
}

.active + .content {
  max-height: 500px; /* Set to a value larger than your content */
  transition: max-height 0.3s ease;
}

#aboutme {
  display: none;
}
.btn {
  border-radius: 0px;
}
#para {
  color: white;
  position: absolute;
  top: -280px;
  transition: all 0.5s ease-in-out;
}
#para2 {
  color: white;
  padding-top: 30px;
}
.fa-angle-up {
  display: none;
}
.fa-angle-up.active {
  display: inline-block;
  background-color: rgb(59, 59, 108, 0);
}
.fa-angle-down {
  display: inline-block;
  background-color: rgb(59, 59, 108, 0);
}
.fa-angle-down.active {
  display: none;
}
#chfmartLogo {
  width: 90px;
  height: 90px;
  transition: 0.5s;
}
#chfmartLogo:hover {
  transition: 0.5s;
  width: 110px;
  height: 110px;
}

/*-----------------Footer------------------*/

hr {
  width: 90%;
  height: 1px;
  background-image: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0),
    rgba(255, 255, 255),
    rgba(0, 0, 0)
  );
  background-image: -o-linear-gradient(
    to right,
    rgba(0, 0, 0),
    rgba(255, 255, 255),
    rgba(0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    to right,
    rgba(0, 0, 0),
    rgba(255, 255, 255),
    rgba(0, 0, 0)
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0),
    rgba(255, 255, 255),
    rgba(0, 0, 0)
  );
}
footer {
  color: white;
  padding-top: 30px;
}
#addhead {
  text-align: center;
}
address {
  text-align: center;
}
#follow {
  text-align: center;
}
#social {
  padding: 10px;
}
#copyright {
  padding-top: 10px;
  font-family: OpenSans, Arial, sans-serif;
}

/*--------------------------------Responsive Design below-----------------------------------------*/

@media screen and (max-width: 991px) {
  /*---------------Nav Bar--------------*/

  label.logo {
    display: none;
  }
  nav ul li a {
    font-size: 20px;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: absolute;
    width: 110%;
    background: rgba(0, 0, 0, 0.8);
    top: -190px;
    left: 1.5%;
    float: left;
    transition: all 0.5s;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    max-height: 200px;
  }
  #navul {
    padding-left: 20px;
  }
  li {
    list-style: none;
    min-height: 40px;
    max-width: 200px;
  }
  li.a:hover {
    text-decoration: none;
    color: #007bff;
  }
  #check:checked ~ ul {
    top: 10px;
  }

  /*-----------------Divs-----------------*/

  #div1 {
    padding-top: 200px;
    margin-top: 50px;
  }
  #myimg {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  #myimg:hover {
    width: 200px;
    height: 200px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h4 {
    font-size: 20px;
    text-align: center;
  }
  h2 {
    font-size: 23px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  #headtext {
    padding-top: 30px;
  }
  #downloadbtn:hover {
    background-color: rgb(100, 100, 159, 0);
  }
  #downloadbtn:active {
    background-color: rgb(100, 100, 159);
    color: white;
    transition: all 0.5s;
  }

  /*---------------About Me-----------------*/

  #para2 {
    display: none;
  }
  #aboutme {
    display: block;
    padding: 15px;
    border-radius: 50px;
    padding-inline: 30px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid;
    border-color: white;
    color: white;
  }
  #aboutme:active {
    background-color: rgb(100, 100, 159);
    color: white;
    transition: all 0.5s;
  }

  /*------------------Footer--------------------*/

  #follow {
    padding-top: 15px;
  }
  #socialdiv {
    padding-bottom: 10px;
  }
  #copyright {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 432px) {
  h1 {
    font-size: 28px;
  }
  #div1 {
    padding-top: 70px;
  }
  #aboutme {
    padding: 15px;
    border-radius: 50px;
    padding-inline: 30px;
    transition: all 0.5s ease-in-out;
  }
}
