#project_card{
  transition: all 0.3s ease-in-out;
}
#project_card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
#project_card img{
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

#popover{
  display: none;
}

#project {
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 1),
      rgba(35, 35, 35, 1.5));
}

#projectheading {
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 2px solid currentColor;
  border-color: rgb(60, 184, 121);
  width: 110%;
}

#pdiv {
  position: relative;
}

#pimg {
  width: 300px;
  margin-top: 70px;
  border-color: black;
  border-radius: 2%;
  transition: 0.2s;
}

#pdiv #ppara {
  padding: 20px;
  text-align: justify;
  position: absolute;
  width: 300px;
  bottom: 0;
  right: 0;
  padding-bottom: 50px;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

#pdiv:hover {
  cursor: pointer;
}

#pdiv:hover #ppara {
  visibility: visible;
}

#pdiv:hover #pimg {
  color: rgb(60, 184, 121);
  opacity: 0.3;
  transition: 0.2s;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

#pimg:hover {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

@media screen and (max-width: 432px) {

  #pimg #ppara {
    width: 270px;
  }
  #project {
    padding-top: 20px;
  }
  #project_card{
    border-radius: 50px;
    pointer-events: none;
  }
  #project_card:hover{
    transform: scale(1);
  }
  .card-body{
    padding-left: 0px;
  }
  #card-para{
    display: none;
  }
  #popover{
    display: block;
    pointer-events: all;
    padding: 5px;
    padding-inline: 15px;
    transition: all 0.5s ease-in-out;
    background-color: rgba(60, 73, 78);
    border: none;
    border-color: white;
    color: white;
  }
  #popover:active {
    background-color: rgba(163, 177, 183, 0.883);
    transition: all 0.5s;
  }
}